# manage vscode repository files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

rootKey/*
unsealKey/*

# ensure vagrant cache files are not retained
.vagrant/
vagrant_ansible_inventory_default

# ensure log files are not retained
*.log

# ensure a hosts.yml file is not retained
hosts.yml

# intellij idea project directory
.idea/**
