job "cadvisor" {

  datacenters = ["dc1"]

  group "app" {

    task "cadvisor" {

      driver = "docker"

      config {
        image = "{{ cadvisor.image.name }}:{{ cadvisor.image.tag }}"
        port_map {
          http = 8080
        }
        volumes = [
          "/:/rootfs:ro",
          "/var/run:/var/run:rw",
          "/sys:/sys:ro",
          "/var/lib/docker/:/var/lib/docker:ro",
          "/cgroup:/cgroup:ro"
        ]
      }

      resources {
        memory = 128
        network {
          port "http" {}
        }
      }

    }

  }

}
