job "portainer-job" {

  region = "global"

  datacenters = ["hcnp"]

  type = "service"

  group "node-management" {

    count = 1

    restart {
      attempts = 3
      delay    = "20s"
      mode     = "delay"
    }

    task "portainer" {

      driver = "docker"

      config {
        image = "portainer/portainer:1.22.0"
        args  = [ "--no-auth" ]
#        dns_servers = []
#        dns_search_domains = []
        port_map {
          http = "9000"
        }
        volumes = [
          "/var/run/docker.sock:/var/run/docker.sock",
          "portainer_data:/data",
        ]
      }

      resources {
        cpu = 500 # 500MHz
        memory = 512 # MB
        network {
          port "http" {}
        }
      }

      service {
        name = "portainer"
        port = "http"
        tags = [
          "traefik.enable=true",
          "traefik.frontend.rule=Host:172.16.1.121;PathPrefix:/portainer;ReplacePathRegex: ^/portainer/(.*) /$1",
          "traefik.fontend.redirect.replacement='$1/portainer'",
          "traefik.frontend.redirect.regex='^(.*)/portainer$'",
          ]
        check {
          name     = "alive"
          type     = "http"
          path     = "/"
          interval = "30s"
          timeout  = "5s"
          port     = "http"
        }
      }
      
    }

  }

}
